body {
	padding-top: 10px;
}

.modal {
	width: 800px;
	margin: -250px 0 0 -400px;
}

.reservation {
	margin: -360px 0 0 -491px;
    width: 980px;
    height: 750px;
}

.reservation-body {
	height: 610px;
	overflow: auto;
}

.topbar-wrapper {
	position: relative;
	height: 40px;
	margin: 5px 0 15px;
}

.topbar-wrapper .topbar {
	position: absolute;
	margin: 0 -20px;
}

.topbar-wrapper .topbar .topbar-inner {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.WiseGuiExperimentationViewOutputsDiv {
	padding-bottom: 10px;
}

.WiseGuiExperimentationViewOutputsDiv ul {
	padding-top: 10px;
}

.WiseGuiExperimentationViewControlsDiv ul {
	padding-top: 10px;
}

.dropdown-menu {
	min-width: 600px;
	max-width: none;
}

input.error {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

input.warning {
	border-color: #be9a3f;
	-webkit-box-shadow: 0 0 6px #e5d6b1;
	-moz-box-shadow: 0 0 6px #e5d6b1;
	box-shadow: 0 0 6px #e5d6b1;
}

input.success {
	border-color: #458845;
	-webkit-box-shadow: 0 0 6px #9acc9a;
	-moz-box-shadow: 0 0 6px #9acc9a;
	box-shadow: 0 0 6px #9acc9a;
}

.WisebedTestbedDetailsOverviewMap {
	padding-top: 10px;
	padding-bottom: 10px;
}

.WiseGuiNotificationsContainer table td {
	border: 0;
}

#WisebedContainer {
	padding-bottom: 150px;
}

.CopyrightContainer, .CopyrightContainer > a {
	color: #CCC;
	margin-top: 20px;
}

.WiseGuiOperationProgressView {
	max-height: 300px;
	overflow: auto;
}

pre.WiseGuiTestbedDetailsWiseMLJSON, pre.WiseGuiTestbedDetailsWiseMLXML {
	height: 500px;
	overflow: auto;
}

div.WiseGuiExperimentsViewScriptingEditor {
	position: relative;
	height: 400px;
}

div.WiseGuiTestbedDetailsNodesTable {
	height: 500px;
	overflow: auto;
}

table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25) !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

table thead tr .headerSortUp {
    background: url(../img/sort_desc.png) no-repeat center right;;
}
table thead tr .headerSortDown {
    background: url(../img/sort_asc.png) no-repeat center right;;
}
